.app-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 90px;
}

.tab {
  margin: 10px;
  list-style-type: none;
}
.btn {
  padding: 12px;
  border-radius: 20px;
  width: 100px;
  font-weight: bold;
  color: #db1c48;
  border: 1px solid #db1c48;
  background-color: #ffffff;
  font-family: 'Roboto';
}
.active {
  background-color: #db1c48;
  color: #ffffff;
  flex-direction: row;
}
.img {
  height: 42vh;
}
